<!-- PROJECT LOGO -->
<br />
<h3 align="center">Dave3625 - Lab3</h3>
<p align="center">
  <a href="https://github.com/DAVE3625/DAVE3625-24H/tree/main/Lab2">
    <img src="img/header.png" alt="Data wrangling" width="auto" height="auto">
  </a>

  

  <p align="center">
    Feature engeneering - on the Titanic dataset <br \>This is a classic dataset used in many data mining tutorials and demos -- perfect for getting started with exploratory analysis and building binary classification models to predict survival.
    <br />
    ·
    <a href="https://github.com/DAVE3625/DAVE3625-24H/issues">Report Bug</a>
    ·
    <a href="https://github.com/DAVE3625/DAVE3625-24H/issues">Request Feature</a>
  </p>
</p>

In [6]:
#Import modules
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [7]:
df = pd.read_csv('data/Titanic.csv', sep=',')
df.isna().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [8]:
print('Mean of "Age" is %.2f' %(df["Age"].mean(skipna=True)))
print('Median of "Age" is %.2f' %(df["Age"].median(skipna=True)))

Mean of "Age" is 29.88
Median of "Age" is 28.00

In [12]:
df["Age"] = df["Age"].fillna(df["Age"].median())

In [25]:
df["HasCabin"] = df.Cabin.isnull().map({True: False, False: True})

In [26]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,False
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,True
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,True
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,False

do a df.head() and you can see we have a new column, but there is an error. 

Hint: 

[Try to find the error before checking the hint][flip-bool]

Adding a new column based on data available is considered creating a new feature.

**Another viable approach** in this scenario would be to remove the entire column from the dataset. The presence of approximately 77% missing values in the column is considered highly detrimental to the overall quality and integrity of the data. Therefore, another viable option here is just to drop the entire column.

**Which did you do and why?**

As you never stated what the end goal is I do not have the information to make that decision for you, nor can i read your mind. I would reccomend keeping both, because you can specify in your model which one to use later.

Neither is a good option. Im not told what the end goal is, so I cannot make that decision. If I knew i was going to run a model and nothing else I would consider dropping the column, as empty rows would scew the model. But it's also possible we are required to answer wich cabin an answer is from. This requires us to have the cabin in the dataset. Thus not removing it and not usinge the feature in the model, bacuase you can select wich columns you want to run the model with is the correct option.